.bagelPageDiv {
    background-color: #A8D0E6;
        height: 100vh;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
}


.bagel-desc-div{
    display:flex;
    flex-direction:column;
    padding-top:5%;
    width:30%;
}

.bagel-title{
    padding-top:5%;
    color:#E85A4F;
    color:#123c69;
    color:#3B8BEB;
    color: #f76c6c;
    color: #3B8BEB;
    color:#F76C6C;
    
    border-bottom: 2px double #24305E;
    width:max-content;
    font-family:"Manrope";
    font-size:xx-large;
}


.bagel-description{
    font-size:x-large;
    font-family: "Manrope";
    color:#24305E;
}

@media (max-width: 768px) {
    .bagel-desc-div {
        display: flex;
        flex-direction: column;
        margin: 5%;
        width: 80%;
    }

    .bagelPageDiv {
        display:flex;
        flex-direction:column;
        height:auto;
    }

    .bagel-title {
        /* padding-top: 5%; */
        /* padding-right:5%; */
        color: #E85A4F;
        color: #123c69;
        color: #3B8BEB;
        color: #f76c6c;
        color: #3B8BEB;
        color: #F76C6C;

        border-bottom: 2px solid #24305E;
        max-width:fit-content;
        overflow: auto;
        font-family: "Manrope";
        font-size: xx-large;
    }
}